.embed-responsive .card-img-top {
    object-fit: cover;
}

.bg-light{
    background-color: #F2EBF1!important;
}

.add-to-cart{
    display: none;
    position: fixed;
    left: 50%;
    top: 25%;
    transform: translate(-50%, -50%);    
}

#product-detail{
    transition: opacity 0.2s ease-in-out;
}